.root {
  // background: #769da4;
  // padding: 10px;
}

.body {
  position: absolute;
  // list-style: none;
  // background
  width: 10px;
  height: 10px;
  background: orange;

  list-style: none;
}
